@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  outline: none;
}

:root {
  --primary: #3b82f6;
  --primary-hover: #2563eb;
  --primary-light: #2563eb1a;
  --primary-disabled: #2563eb80;
  --rose-100: #f43f5e;
  --rose-200: #e11d48;
  --rose-disabled: #e11d4880;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #27272a;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  display: flex;
  padding: 0 5%;
  flex-direction: column;
  flex: 1;
  margin: 1rem 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
